.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
}

button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #4ec3f7;
}
